/* ================== GLOBAL  ==================*/
* {
    margin: 0;
    padding: 0;

    line-height: none;
    text-decoration: none;
    
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --bx-shadow: lightblue;
}

/* ================== BODY TAGS  ==================*/

body {
    background-color: var(--body-bg-color);
    display: flex;
    box-sizing: border-box;

    gap: 1rem;

    height: 100vh;
    width: 100vw;
    
}

body aside {
    flex-basis: 25%;
}

body main {
    flex-basis: 1;
}

section {
    background-color: var(--bg-cards);
    color: var(--text-color);
}

/* ================== PERFIL  ==================*/
#perfil {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 18.75rem;
    height: 18.25rem;

    padding: 1rem;
    margin: 1rem 1rem 1.5rem 1rem;

    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px black;

    border-radius: 1rem;

    transition: .5s;
}

#perfilImg {
    display: flex;
    box-sizing: border-box;

    background: lightgreen;

    width: 8rem;
    height: 8rem;

    border-radius: 7rem;

    align-items: center;
    justify-content: center;

    margin-bottom: 1.5rem;
}

#perfilImg img {
    width: 7.8rem;
    height: 7.8rem;

    border-radius: 4rem;
}

#perfil h3 {
    font-weight: 700;
    padding: 0 0 .4rem 0;
}

#perfil p {
    font-size: small;
    font-weight: 400;
}

/* ================== SOCIAIS  ==================*/

#sociais {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 18.75rem;
    height: 20.25rem;

    padding: 1rem;
    margin: 1rem 1rem 1.5rem 1rem;

    justify-content: center;
    align-items: left;

    border-radius: 1rem;

    box-shadow: 2px 2px black;

    transition: .5s;
}

.redes {
    display: flex;

    align-items: center;

    gap: 1rem;

    margin: .5rem 0;

    transition: .5s;
}

.redes:hover {

    padding: .4rem;

    border: 1px solid var(--bx-shadow);
}

.redes p {
    text-decoration: none;

    color: var(--text-color);
}

/* ================== TECNOLOGIAS  ==================*/

#tecnologias {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 18.75rem;
    height: 14.25rem;

    padding: 1rem;
    margin: 1rem 1rem 1.5rem 1rem;

    justify-content: flex-start;
    align-items: left;

    border-radius: 1rem;

    box-shadow: 2px 2px black;

    transition: .5s;
}

#tecnologias h3 {
    font-weight: 700;

    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 0 1rem 0;
}

#techsContainer {
    display: grid;

    grid-template-columns: auto auto auto;

    column-gap: .8rem;

    color: var(--bg-cards);
}

#techsContainer p {
    text-align: center;
    margin: .3rem 0;

    background-color: var(--bg-techs);
    padding: .2rem .4rem;

    border-radius: 2rem;

    font-weight: 400;

    font-size: small;

    transition: .2s;
}

#techsContainer > p:hover {
    border: 2px solid var(--bx-shadow);
}   

/* ================== EXPERIENCIAS  ==================*/

#experiencia {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 18.75rem;
    height: 18.25rem;

    padding: 1rem;
    margin: 1rem 1rem 1.5rem 1rem;

    justify-content: flex-start;
    align-items: left;

    border-radius: 1rem;

    box-shadow: 2px 2px black;

    transition: .5s;
}

#experiencia h3 {
    font-weight: 700;

    margin: 0 0 1rem 0;
}

.listContainer {
    margin: .1rem 2rem 0 2rem;
}

.listContainer li {
    padding: .4rem 0;
}

.listContainer li p:first-child {
    font-size: medium;
    font-weight: 700;
}

.listContainer li p {
    font-size: small;
    font-weight: 200;
}

/* ================== EDUCACAO  ==================*/

#educacao {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 18.75rem;
    height: 18.25rem;

    padding: 1rem;
    margin: 1rem 1rem 1.5rem 1rem;

    justify-content: flex-start;
    align-items: left;

    border-radius: 1rem;

    box-shadow: 2px 2px black;

    transition: .5s;
}

#educacao h3 {
    font-weight: 700;

    margin: 0 0 1rem 0;
}


#perfil:hover, #sociais:hover, #tecnologias:hover, #experiencia:hover,
#educacao:hover {
    box-shadow: 2px 2px var(--bg-techs);
}


/* ================== HEADER  ==================*/

#projectHeader {
    display: flex;
    box-sizing: border-box;

    align-items: center;
    justify-content: space-between;
    
    width: 59rem;
    height: 5.3rem;

    border-radius: 1rem;

    padding: 0 2rem;
    margin: .5rem .5rem 2rem .5rem;

    box-shadow: 2px 2px black;

    transition: .5s;
}

#projectHeader:hover {
    box-shadow: 2px 2px var(--bg-techs);
}

#projectHeader h1 {
    font-size: x-large;
    font-weight: 700;
}

#projectHeader button {
    border: none;
    background: var(--bg-cards);

    color: var(--text-color);

    font-weight: 400;
    
    transition: .3s;
}

#projectHeader button:hover {

    padding: .5rem;

    color: black;
    background-color: var(--bx-shadow);

    border-radius: .3rem;
}

/* ================== CARDS  ==================*/

#cardContainer {
    display: flex;
    box-sizing: border-box;

    background-color: var(--body-bg-color);

    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
    
    width: 59rem;
}

#cards {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    justify-content: center;
    align-items: flex-start;

    width: 28rem;
    height: 11.6rem;

    margin: .4rem;

    border-radius: 1rem;

    box-shadow: 2px 2px black;

    transition: .5s;
}

#cards:hover {
    box-shadow: 2px 2px var(--bg-techs);
}

.cardTitle {
    display: flex;

    padding: 1rem;

    gap: 1rem;

    align-items: center;
}

.cardTitle p {
    font-size: medium;
    font-weight: 700;
}

#description {
    padding: 1rem;

    max-width: 50ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cardFooter {
    display: flex;

    padding: 1rem;

    align-items: center;

}

.cardFooter img, p {
    padding: 0 .2rem;
}

#cardBall {
    width: 1rem;
    height: 1rem;

    background-color: lightgoldenrodyellow;

    border: 1px solid lightgray;

    border-radius: 1rem;

    margin: 0 .3rem 0 12rem;
}

/* ================== RECENT POSTS  ==================*/

#postsRecents {
    display: flex;
    
    margin: 1rem .5rem;

    width: 59rem;
    height: 5.3rem;

    border-radius: 1rem;

    box-shadow: 2px 2px black;

    justify-content: flex-start;
    align-items: center;

    transition: .5s;
}

#postsRecents h1 {
    padding: 0 2rem;

    font-weight: 700;
}

#postsRecents:hover {
    box-shadow: 2px 2px var(--bg-techs);
}

/* ================== RECENT CARD  ==================*/

#postCard {
    display: flex;
    box-sizing: border-box;

    justify-content: flex-start;
    align-items: center;

    margin: 1rem .5rem;
    padding: 1rem;

    width: 59rem;
    height: 12.5rem;

    border-radius: 1rem;

    box-shadow: 2px 2px black;

    transition: .5s;
}

#postCard:hover {
    box-shadow: 2px 2px var(--bg-techs);
}

#postCard img {
    width: 8rem;
    height: 8rem;

    border-radius: 4rem;

    flex-basis: 15%;
}

#textContainer {
    display: flex;
    flex-direction: column;
    
    flex-basis: 1;

    margin: 0 2rem;

    justify-content: center;
    align-items: flex-start;
}

#postCardHeader {
    margin-bottom: 1rem;
}

#postCardBody {
    display: flex;
    flex-direction: column;
}

#postCardBody p {
    margin-bottom: .2rem;
}

.tags {
    display: flex;
    
    gap: .2rem 1rem;

    align-items: center;
    justify-content: flex-start;

    flex-wrap: wrap;
}